body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  color: black;
  background: white;
  font-family: Arial, sans-serif;
}

.navbar-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: self-start;
  color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 8vh;
  padding-top: 10px;
  z-index: 100;
  background-color: white;
  backdrop-filter: blur(100px);
}

.navbar-cont-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  border-radius: 0.6em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 1em;
  white-space: nowrap;
  cursor: pointer;
  animation: fadeIn 0.5s;
}
.navbar-cont-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-page {
  margin-top: calc(8vh + 10px);
  height: calc(100vh - 8vh - 10px);
  padding: 1em;
}

.full-size {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  animation: fadeIn 0.5s;
}
a:hover {
  text-decoration: none;
  opacity: 40%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.todo-input {
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  outline: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.todo-input-cont {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.todo-input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.todo-input-btn {
  /* unset */
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  outline: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-list-cont {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.todo-list-item {
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  outline: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-list-deleted {
  text-decoration: line-through;
  opacity: 40%;
}

.profile-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 4px solid palevioletred;
  cursor: pointer;
}
.profile-pic:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.profile-cap {
  font-weight: bold;
}

.profile-info {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: palevioletred;
  border-radius: 10px;
  color: white;
}

.profile-info-close {
  cursor: pointer;
}

.whitespace-nowrap {
  white-space: nowrap;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

.splash-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    108deg,
    rgba(255, 255, 255, 1) 35%,
    rgba(238, 225, 246, 1) 100%
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight is typically 700 */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold weight is typically 600 */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight is typically 500 */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight is typically 400 */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 300; /* Light weight is typically 300 */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 200; /* ExtraLight weight is typically 200 */
  font-style: normal;
}

.violet-bg {
  background: rgb(197, 139, 242);
  background: linear-gradient(
    173deg,
    rgba(197, 139, 242, 1) 0%,
    rgba(238, 164, 206, 1) 100%
  );
}

.blue-bg {
  background: rgb(66, 96, 255);
  background: linear-gradient(
    173deg,
    rgba(66, 96, 255, 1) 0%,
    rgba(91, 173, 255, 1) 100%
  );
}

.blue-bg-faint {
  background: rgb(66, 96, 255);
  background: linear-gradient(
    173deg,
    rgba(66, 96, 255, 0.5) 0%,
    rgba(91, 173, 255, 0.5) 100%
  );
  
 
}
